* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container {
  position: relative;
}

.hamburger-menu {
  cursor: pointer;
  z-index: 10;
  position: relative;
  width: 25px;
  height: 20px;
  margin: 15px;
  background-color: transparent;
}
.hamburger-menu span {
  position: absolute;
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  color: black;
  background-color: white;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
}
.hamburger-menu span:nth-child(2) {
  top: 9px;
}
.hamburger-menu span:nth-child(3) {
  top: 18px;
}
.hamburger-menu.open span:nth-child(1) {
  transform: translateY(9px) rotate(135deg);
}
.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}
.hamburger-menu.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-135deg);
}

.settings-menu {
  position: fixed;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0px;
  right: -20rem;
  width: 0;
  height: 100vh;
  transition: 0.5s ease;
  overflow: hidden;
  background-color: #006494;
  padding-top: 50px;
}
.settings-menu.open {
  right: 0;
  width: 20rem;
}
